.cont-filtros-prods-fav{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    margin-top: 20px;
}
.cont-filtros-fav{
    width: 30%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
}
.cont-fav{
    width: 70%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}