.cont-miCarrito-fila-1-col-2{
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}
.cont-resumen-compra{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    border: 1px solid var(--gris-bordes);
    padding: 0 10px;
}
.cont-titulo-resumen-compra{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    border-bottom: 1px solid var(--gris-bordes);
}
.p-titulo-resumen-compra{
    font-size: 20px;
    font-weight: 500;
    
}
.cont-precios-resumen-compra{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-top: 10px;
}
.cont-descripcion-resumen-compra{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}
.img-resumen-compra{
    width: 40px;
    height: 40px;
}
.p-nombre-resumen-compra{
    font-size: 10px;
}
.p-precio-resumen-compra{
    font-size: 18px;
    font-weight: 300;
    margin: 0 0 0 10px;
}
.cont-total-resumen-compra{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    border-top: 1px solid var(--gris-bordes);
}
.p-total-resumen-compra{
    font-size: 20px;
    font-weight: 500;
}
.cont-btns-continuar-volver{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding: 0 10px;
}
.btn-continuar-compra,
.btn-volver-compra{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 0;
    cursor: pointer;
    color: white;
    background-color: var(--color-azul);
    text-decoration: none;
}
.btn-volver-compra{
    color: var(--color-azul);
    background-color: transparent;
}

@media screen and (min-width: 801px){
    .p-nombre-resumen-compra{
        font-size: 14px;
    }
}
@media screen and (max-width: 800px){
    .cont-miCarrito-fila-1-col-2{
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .cont-resumen-compra{
        width: 96.5%;
    }
    .p-precio-resumen-compra{
        font-size: 12px;
    }
    .cont-btns-continuar-volver{
        margin-bottom: 20px;
        justify-content: center;
        align-items: center;
    }
}
@media screen and (max-width:400px) {
    .cont-miCarrito-fila-1-col-2{
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .cont-titulo-resumen-compra{
        justify-content: center;
    }
    .p-titulo-resumen-compra{
        font-size: 12px;
    }
    .cont-descripcion-resumen-compra{
        justify-content: space-between;
        align-items: center;
    }
}