.cont-checkout{
    width: 60%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-top: 20px;
}

/* responsive */
@media screen and (max-width: 900px){
    .cont-checkout{
        width: 80%;
    }
}
@media screen and (max-width: 600px){
    .cont-checkout{
        width: 98%;
    }
}