.cont-carrusel-detalle{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-carrusel-detalle{
    height: 500px;
    cursor: pointer;
}


@media screen and (max-width: 650px){
    .img-carrusel-detalle{
        height: 400px;
    }
}