
.cont-titulo-y-inputs{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.cont-input-contacto{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.cont-contacto-nomb-ape-dni,
.cont-contacto-calle-num-piso-depto,
.cont-contacto-provincia-localidad{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.cont-input-contacto-calle{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: start;
}
.cont-input-num-piso-depto{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cont-input-contacto-numero,
.cont-input-contacto-piso,
.cont-input-contacto-depto{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.cont-input-contacto-nombre,
.cont-input-contacto-apellido,
.cont-input-contacto-dni,
.cont-contacto-tel-datosFacturacion,
.cont-textarea-contacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-top: 10px;
}
.cont-datos-entrega-mismos-datos{
    width: 90%;
}
.input-nombre-contacto{
    width: 95%;
    font-size: 20px;
    padding: 3px;
}
.select-nombre-contacto{
    width: 98%;
    font-size: 20px;
    padding: 3px;
}
.cont-textarea-contacto{
    width: 100%;
}
.input-nombre-contacto,
.select-nombre-contacto,
.textarea-contacto{
    width: 99%;
    font-size: 20px;
    padding: 3px 0;
    border: 1px solid var(--gris-bordes);
    border-radius: 5px;
}
.textarea-contacto{
    min-height: 80px;
    margin-bottom: 10px;
}

/* responsive */
@media screen and (max-width: 700px){
    .cont-contacto-nomb-ape-dni{
        flex-direction: column;
    }
    .cont-input-contacto-nombre,
    .cont-input-contacto-apellido,
    .cont-input-contacto-dni{
        width: 100%;
    }
    .cont-contacto-calle-num-piso-depto{
        flex-direction: column;
    }
    .cont-input-contacto-calle{
        width: 100%;
    }
    .cont-input-num-piso-depto{
        width: 100%;
    }
    .cont-input-contacto-numero,
    .cont-input-contacto-piso,
    .cont-input-contacto-depto{
        width: 33.3%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
    }
}