.cont-titulo-y-inputs{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.cont-contacto-nomb-ape-dni{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}
/* estilos contenedores de los inputs */
.cont-input-contacto-nombre,
.cont-input-contacto-apellido,
.cont-input-contacto-dni,
.cont-input-contacto-area,
.cont-input-contacto-numTel,
.cont-input-contacto-calle,
.cont-input-contacto-numero,
.cont-input-contacto-piso,
.cont-input-contacto-depto,
.cont-input-contacto-codigoPostal,
.cont-input-contacto-localidad,
.cont-input-contacto-provincia,
.cont-contacto-tel-datosFacturacion,
.cont-textarea-contacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-top: 10px;
}
.cont-input-contacto-area,
.cont-input-contacto-numTel{
    width: 50%;
}
.cont-input-contacto-calle{
    width: 70%;
}
.cont-input-contacto-numero,
.cont-input-contacto-piso,
.cont-input-contacto-depto{
    width: 10%;
}

/* estilos de los inputs */
.input-nombre,
.input-apellido,
.input-dni,
.input-area,
.input-numTel,
.input-calle,
.input-numero,
.input-piso,
.input-depto,
.input-codigoPostal,
.input-localidad,
.input-provincia,
.textarea-contacto{
    width: 100%;
    font-size: 20px;
    padding: 3px 0;
    border: 1px solid var(--gris-bordes);
    border-radius: 5px;
}
.input-area,
.input-numTel{
    width: 100%;
}
.textarea-contacto{
    width: 100%;
    min-height: 80px;
    margin-bottom: 10px;
}
.select-nombre-contacto{
    width: 98%;
    font-size: 20px;
    padding: 3px;
}
.cont-textarea-contacto{
    width: 100%;
}
.cont-btns-continuar-volver{
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.btn-volver-compra{
    width: 50%;
    padding: 10px;
    background-color: transparent;
    color: var(--color-azul);
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.btn-continuar-compra{
    width: 50%;
    padding: 10px;
    background-color: var(--color-azul);
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
/* responsive */
@media screen and (max-width: 800px){
    .cont-contacto-nomb-ape-dni{
        flex-direction: column;
    }
    .cont-input-contacto-nombre,
    .cont-input-contacto-apellido,
    .cont-input-contacto-dni{
        width: 100%;
    }
    .cont-contacto-calle-num-piso-depto{
        flex-direction: column;
    }
    .cont-input-contacto-calle{
        width: 100%;
    }
    .cont-input-num-piso-depto{
        width: 100%;
    }
    .cont-input-contacto-numero,
    .cont-input-contacto-piso,
    .cont-input-contacto-depto{
        width: 33.3%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
    }
}