.btn-agrega-carrito{
    width: 80%;
    height: 40px;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #000;
    border-radius: 10px;
    background-color: #0c0463;
    color: white;
    cursor: pointer;
}