:root{
  --color-azul: rgba(56, 32, 218, 0.866);
  --color-blanco: #ffffff;
  --gris-bordes: rgb(205, 203, 203);
  --gris-fondo: #f4f4f4; /* cuadros */
  --gris-fondo-paginas: grey;
}

/* estilos para los componentes Page */
.page{
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  background-color: var(--gris-fondo);
}
/* botnes para los Carruseles */
.btn-atras{
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.btn-sgt{
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  cursor: pointer;
}
